{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="{% url 'shop-list' %}"><img src="{% static 'assets/images/logo.svg' %}" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="{% url 'shop-list' %}"><img src="{% static 'assets/images/logo-mini.svg' %}" alt="logo" /></a>
    </div>
    <ul class="nav">
      {% if request.user.is_authenticated %}
      <li class="nav-item profile">
        <div class="profile-desc">
          <div class="profile-pic">
            <div class="count-indicator">
              {% if request.user.name %}
              <img class="img-xs rounded-circle " src="{{ request.user.avatar.url }}" alt="" style='object-fit: cover;'>
              {% else %}
              <img class="img-xs rounded-circle " src="{% static 'assets/images/auth/Login_bg2.jpg' %}" alt="" style='object-fit: cover;'>
              {% endif %}
              <span class="count bg-success"></span>
            </div>
            <div class="profile-name">
              <h5 class="mb-0 font-weight-normal">{{ request.user.username }}</h5>
              <span>{{ request.user.get_status_display }}</span>
            </div>
          </div>
          <a href="#" id="profile-dropdown" data-bs-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
          <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
            <a href="{% url 'user-form' %}" class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-settings text-primary"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject ellipsis mb-1 text-small">Настройки аккаунта</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <!-- <a href="{% url 'password-form' %}" class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-onepassword  text-info"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject ellipsis mb-1 text-small">Сменить пароль</p>
              </div>
            </a> -->
            <div class="dropdown-divider"></div>
            <a href="{% url 'todo-list' %}" class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-calendar-today text-success"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject ellipsis mb-1 text-small">Задачи</p>
              </div>
            </a>
          </div>
        </div>
      </li>
      {% endif %}
      <li class="nav-item nav-category">
        <span class="nav-link">Навигация</span>
      </li>
      {% with request.resolver_match.url_name as url_name %}
      <li class="nav-item menu-items {% if url_name == 'dashboard-main' %} active {% endif %}">
        <a class="nav-link" href="{% url 'dashboard-main' %}" >
          <span class="menu-icon">
            <i class="mdi mdi-speedometer"></i>
          </span>
          <span class="menu-title">Панель управления</span>
        </a>
      </li>
      <li class="nav-item menu-items {% if url_name == 'shop-list' %} active {% endif %}">
        <a class="nav-link" href="{% url 'shop-list' %}">
          <span class="menu-icon">
            <i class=" mdi mdi-shopping"></i>
          </span>
          <span class="menu-title">Магазины</span>
        </a>
      </li>
      <li class="nav-item menu-items {% if url_name == 'product-list' %} active {% endif %}">
        <a class="nav-link" href="{% url 'product-list' %}">
          <span class="menu-icon">
            <i class="mdi mdi-playlist-play"></i>
          </span>
          <span class="menu-title">Товары</span>
        </a>
      </li>
      <li class="nav-item menu-items {% if url_name == 'post-list' %} active {% endif %}">
        <a class="nav-link" href="{% url 'post-list' %}">
          <span class="menu-icon">
            <i class="mdi mdi-table-large"></i>
          </span>
          <span class="menu-title">Посты</span>
        </a>
      </li>
      <li class="nav-item menu-items {% if url_name == 'vacancy-list' %} active {% endif %}">
        <a class="nav-link" href="{% url 'vacancy-list' %}">
          <span class="menu-icon">
            <i class="mdi mdi-briefcase"></i>
          </span>
          <span class="menu-title">Вакансии</span>
        </a>
      </li>
      <li class="nav-item menu-items {% if url_name == 'todo-list' %} active {% endif %}">
        <a class="nav-link" href="{% url 'todo-list' %}">
          <span class="menu-icon">
            <i class="mdi mdi-calendar-today text-success"></i>
          </span>
          <span class="menu-title">Задачи</span>
        </a>
      </li>
      <li class="nav-item menu-items {% if url_name == 'report-list' %} active {% endif %}">
        <a class="nav-link" href="{% url 'report-list' %}">
          <span class="menu-icon">
            <i class="mdi mdi-file-document"></i>
          </span>
          <span class="menu-title">Отчёты</span>
        </a>
      </li>
      <li class="nav-item menu-items {% if url_name == 'order-list' %} active {% endif %}">
        <a class="nav-link" href="{% url 'order-list' %}">
          <span class="menu-icon">
            <i class="mdi mdi-book-open-variant"></i>
          </span>
          <span class="menu-title">Заказы</span>
        </a>
      </li>
      {% endwith %}
    </ul>
  </nav>