{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Форма категории</h4>
                    <p class="card-description"> Создайте категорию </p>
                    <form class="forms-sample" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="form-group">
                      <label for="title">Название</label>
                      {{ form.title }}
                    </div>

                    <div class="form-group">
                      <label for="shop">Магазин</label>
                      <select class="form-control" id="shop" name="shop" style="color: #fff;">
                          {% for shop in shops  %}
                          <option value="{{ shop.id }}">{{ shop.title }}</option>
                          {% endfor %}
                      </select>
                    </div>

                    <button type="submit" class="btn btn-primary me-2">Добавить</button>
                    <a href="{% url 'dashboard-main' %}" class="btn btn-dark">Отмена</a>
                  </form>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}